################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Comma/obj/Debug
/Comma/bin/Debug
/Comma/packages
/Comma/dexDb.sqlite
/Comma.External/obj/Debug
/Comma.External/bin/Debug
/Comma.Repository/bin/Debug
/Comma.Repository/obj/Debug
/Comma.UnitTests/bin/Debug
/Comma.UnitTests/obj/Debug
/Comma/.vs/Comma/v15
/Comma/.vs/Comma/v14/.suo
/Comma.DomainEnitites/obj/Debug
/Comma.DomainEnitites/bin/Debug
/Comma/obj/Release
/Comma/.vs/config
/Comma.Repository/bin/Release
/Comma.Repository/obj/Release
/Comma.UnitTests/obj/Release
/Comma.DomainEnitites/obj/Release
/Comma.DomainEnitites/bin/Release
/Comma.BusinessLogic/obj
/Comma.API/bin
/Comma.API/obj
/Comma.BusinessLogic/bin/Debug/netstandard2.0
/Comma.External/bin/Release
/Comma.External/obj/Release
